<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <title>Express Dev Skills</title>
</head>
<body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      <% }); %>
    </ul>
</body>
</html>